@font-face {
  font-family: Raleway-Bold;
  src: url(../../Assets/fonts/Raleway-Bold.ttf);
}
.SEARCHCARD {
  height: 100%;
  background-color: #1e1e1e;
}
.QuatCard_main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
}

.searchCard_place,
.searchCard_cal {
  font-family: "Raleway";
}
.noData_page {
  height: inherit;
  position: relative;
}
.main-titles {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main-titles {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #000000;
  display: flex;
  align-items: center;
}

.prices h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #6b6b6b;
}

.prices h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.prices p {
  margin: 0px !important;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #ff0000;
}

.card-img-top {
  height: 502px;
  object-fit: cover;
  overflow: auto;
}

.selectOpertors a {
  text-decoration: none;
  font-size: 15px;
  border-radius: 15px;
  float: right;
  padding: 4px;
  width: 80px;
  height: 34px;
  left: 287px;
  top: 501px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;

  color: #e6d220;

  backdrop-filter: blur(35.5px);
  background: #424138;
  border-radius: 35px;
  cursor: pointer;
}

.selectOpertor {
  display: flex;
  margin-top: 15px !important;
  justify-content: flex-end;
}

.selectOpertors {
  display: flex;
  margin-top: 0px;
  justify-content: flex-end;
  border-radius: 48px;
}

.paid {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.vehicleDetails p {
  margin: 0 !important;
  font-size: 23px;
}

.user-profile img {
  width: 50%;
}

.text-value {
  color: #ffc107;
}

.text-yellow {
  color: #ffc107;
}

.details {
  display: flex;
  justify-content: space-between;
}

.custom-button {
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90%;
}

.custom-img {
  margin-left: 30px;
}

.Vehicle-details {
  margin-top: 15px !important;
  display: flex;
  justify-content: space-between;
}

.notfoundimage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.notfoundimage img {
  width: 25%;
}
.mainQuat {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
}

.vehicleDetailsMain {
  height: 100vh;
}
.card-main {
  background: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.card-body {
  width: 400.98px;
  height: 350.52px;
  background: #444;

  border-radius: 27.8517px;

  margin-top: 50px;
}
.main-Searchdiv {
  padding: 15px;
  margin-bottom: 80px;
  background: #1e1e1e;
}
.searchCard_footer {
  width: 100%;
}
.vehicle-model {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: rgba(255, 193, 7, 0.59);
  margin: 0;
}
.kilomodal {
  display: flex;
}
.localText p {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 14px;
}
.vehile-names {
  margin: 0px !important;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18.2345px;
  line-height: 32px;

  color: #ffffff;
}

.toggleAc {
  margin: 0;
  width: 300px;
}

.ac-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Raleway";
  color: #ffc107;
  font-weight: 700;
  font-size: 22px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.non-ac-price {
  font-size: 22px;
  font-family: "Raleway";
  font-weight: 700;

  color: #ffc107;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.kolimeters {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  margin: 0px !important;
  color: rgba(255, 193, 7, 0.75);
}

.restText {
  margin-top: 25px;
}

.trip-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  text-align: center;
  color: #ffc107;
  margin-bottom: 0px !important;
  margin: 0px !important;
}

.book-now {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 0px !important;
  margin: 0px !important;
  color: #ffffff;
}

.pay-text {
  margin-bottom: 0px !important;
  margin: 0px !important;
  font-family: "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18.5832px;
  line-height: 22px;

  text-align: center;

  color: #ffc107;
}

.selectOpertors {
  position: relative;
  justify-content: center;
  align-items: center;
  background: rgba(255, 215, 7, 1);
  border: 0;
  border-radius: 32.8813px;
  padding: 5px;
  width: 230.32px;
  height: 51.46px;
  font-size: 22px;
  font-weight: 600;
}

.vehicleImage {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.third-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 42px;
  letter-spacing: -1px;
  color: #000000;
}

.pickupanddrop {
  background-image: url(../../Assets/svg/backgroundImg.png);
  background-size: cover !important;
  background-repeat: no-repeat;
}

.pick-des {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  text-align: center;

  color: #ffffff;
}

.pick-title {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 57px;
  color: #ffffff;
}

.booking-card {
  background-blend-mode: luminosity;
  box-shadow: 3px 2px 51px 10px rgb(0 0 0 / 25%);
  border-radius: 9px;

  overflow: hidden;
  width: 65%;
  height: auto;
}

.booking-image {
  width: 100%;
  height: 420px;
}

.leftModel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.leftModel h4 p {
  font-family: "sans-serif";
}

.static-details {
  color: #ffc107;
  font-family: "Raleway";
}

.detail-places {
  font-size: 2rem;
}
.detail-timings {
  display: flex;
  font-size: 2rem;
  gap: 50px;
}

.details .numbers {
  margin-right: 8px;
  font-family: "Montserrat";
}
.numbers {
  margin-right: 8px;
  font-family: "Montserrat";
}
.details {
  display: flex;
}

.detail-timings div {
  font-family: "Raleway";
}

.rowQuat {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.first-section {
  display: flex;
  transform: translateY(-55px);
  width: 100%;
  height: 100%;
  justify-content: center;
}
.second-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  width: 100%;
  margin-top: -135px;
  border-top: 0.963458px solid rgba(255, 255, 255, 0.24);
}
.second-left {
  display: flex;
  flex-direction: column;
}
.second-left .vehile-names {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.second-main {
  display: flex;
  width: 100%;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
.rArrow {
  position: absolute;
  width: 20%;
  bottom: 50;
}

#roundDivImg {
  width: 90%;
}
.noResultwhite {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bolder;
  font-size: 50px;
  line-height: 46px;
  text-align: center;
  color: #ffc107;
}
.searchCard_cal {
  display: flex;
  gap: 30px;
}
.SC_Date {
  width: 200px;
}
.SC_Date input {
  color: #cfcfce;
  font-size: 18px;
  text-align: center;
  border-bottom: solid #7e5f04;
}
.SC_Date ::placeholder {
  color: #ffc107;
  font-size: 18px;
}
.searchCard_button {
  border-radius: 48px;
  font-size: 18px;
  width: 100px;
  background-color: #ffc107;
}
.searchCard_input {
  display: flex;
  align-items: center;
  width: 160px;
}
.searchCard_input input {
  color: #cfcfce;
  font-size: 20px;
  text-align: center;
  border-bottom: solid #7e5f04;
  margin-right: 10px;
}
.searchCard_input ::placeholder {
  color: #ffc107;
  font-size: 22px;
}
.searchCard_place h1 {
  display: flex;
  gap: 20px;
}
.searchCard_place input {
  width: 280px;
  color: #cfcfce;
  border-bottom: solid #7e5f04;
}

/* DropDown Styles */

.dropbtn {
  background-color: #ffc107;
  color: white;
  padding: 8px 16px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-top: 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1e1e1e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  color: #ffc107;
  font-family: "Raleway";
  font-weight: 500;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  margin-bottom: 0;
  cursor: pointer;
}

.dropdown-content p:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffc107;
}

@media only screen and (max-width: 767px) {
  .QuatCard_main {
    height: 100%;
  }
  .searchCard_footer {
    height: 0;
  }
  .main-Searchdiv {
    height: 100%;
    padding: 20px;
  }
  .detail-timings {
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;
  }
  .details {
    justify-content: flex-start;
  }
  .searchDetails {
    border: solid 1px rgb(105, 104, 104);
    padding: 15px;
  }
  .searchCard_place input {
    width: 150px;
  }
  .searchCard_input {
    width: 120px;
    margin: 0;
    font-size: 18px;
  }
  .searchCard_cal {
    flex-direction: column;
    gap: 10px;
  }
  .SC_Date input {
    margin: 0;
  }
  .mainQuat {
    display: block;
  }

  .card-body {
    width: 400px;
  }
  .newSearchCard h1 {
    font-size: 20px;
  }

  .newSearchCard h4 {
    font-size: 12px;
    line-height: 15px;
  }
  .newSearchCard {
    padding: 0;
  }
  .kolimeters {
    font-size: 15px;
  }
  .selectOpertors {
    display: flex;
    border: none;
    border-radius: 48px;
    width: 138px;
    height: 33px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }
  .leftModel {
    transform: translateY(-45px);
    margin-bottom: -80px;
  }
}
